* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.nav-link:hover {
  border-bottom: 3px solid red;
  transition: 1s all ease-out;
}
p {
  font-family: 'Roboto';
}
.home {
  background: #d4c2c2;
}
.contact,
.portfolio {
  width: 10rem;
  padding: 5px;
}
button {
  width: 10rem;
  padding: 5px;
}
button:hover {
  background: #000;
  color: #fff;
  transition: 2s all ease-in-out;
}
p {
  font-family: 'Lato', sans-serif;
}
#Portfolio {
  background: #333;
}
.gallery {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery:hover {
  transform: scale(1.4);
}
@media only screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  h1 p {
    text-align: center;
  }
  #headerFix {
    position: sticky;
  }
  .top-nav {
    display: none;
  }
  #mainbanner {
    display: flex;
    flex-direction: column-reverse;
    margin: 1rem;
  }
  .contact,
  .portfolio {
    text-align: center;
    margin: 1rem;
  }
  #About1 {
    display: flex;
  }
  .text-sm-center {
    text-align: center;
  }
  .icon-sm-center {
    position: ralative;
    margin: 10px;
    transform: translateX(13%);
  }
  iframe {
    margin: 5px;
    padding: 5px;
  }
  .d-flex {
    flex-direction: column;
  }
  .text-white {
    text-align: center;
  }
  .navbar-toggler {
    position: absolute;
    right: 5%;
    width: 2rem;
  }
}
.navbar-toggler:hover {
  background-color: white;
  outline: none;
  color: #000;
}
.navbar-toggler:focus {
  outline: none;
  transition: none;
}
